* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.7em;
}
a {
  color: #00a07b;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

#app {
  position: relative;
  min-height: 100%;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.navbar {
  background: #1028;
  overflow: auto;
}

.navbar .logo {
  float: left;
  padding-top: 20px;
  color: #00a07b;
  text-transform: uppercase;
  text-shadow: 1px 1px #fbfbfb;
  letter-spacing: 3px;
}

.navbar ul {
  list-style: none;
  float: right;
}

/* Transactions Portfolio */
.navbar ul li {
  float: left;
}

.navbar ul li a {
  text-transform: uppercase;
  display: block;
  padding: 20px;
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 4px;
}

@media (min-width: 761px) {
  .navbar ul li.even {
    background-color: #1028;
  }
}

.navbar ul li a:hover,
.navbar ul li a.current {
  background: #333;
  color: #2bd9ad;
}
