/* #homepage {
  max-width: 100vw;

  min-width: 80vw;
} */
#left {
  width: 50%;
  height: 93vh;
  background: #c1c1c1;
  overflow: hidden;
}
#right {
  width: 50%;
  height: 93vh;
  background: #00a07b;
  position: absolute;
  top: 67px;
  right: 0;
  overflow: hidden;
}
#img {
  width: 300px;
  height: 465px;
  position: absolute;
  bottom: 0;
  right: 25%;
  transform: translateX(60px);
  opacity: 0;
  transition: 0.5s;
  /* transition-delay: 0.4s; */
}
#img img {
  width: 100%;
  height: 99.5%;
}

.content {
  position: absolute;
  top: 220px;
  left: 20%;
  width: 30%;
  max-width: 300px;
}

.content h1 {
  font-size: 45px;
  letter-spacing: 4px;
  transform: translateY(-20px);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.4s;
}

.content p {
  letter-spacing: 2px;
  transform: translateY(-20px);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.4s;
}
br {
  content: "A";
  display: block;
  margin-top: 0.4em;
  display: block;
}
.custom-br {
  display: block;
  width: 100%;
  height: 5px;
  color: #2bd9ad; /*change color*/
  margin-bottom: 0.9em;
}
.content button {
  cursor: pointer;
  /* margin-top: 50px;  */
  color: #2bd9ad;
  width: 180px;
  height: 30px;
  border: 0;
  background: #fbfbfb;
  text-transform: uppercase;
  transform: translateY(-20px);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.4s;
  border-radius: 5px;
}
.content button:hover {
  background: #333;
}
.media {
  width: 200px;
  height: 50px;
  position: absolute;
  left: 20%;
  bottom: 20px;
}

.media ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex;
}

.media ul li {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s;
}
.media ul li:nth-child(1) {
  transition-delay: 0;
}
.media ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.media ul li:nth-child(3) {
  transition-delay: 0.4s;
}
.media ul li:nth-child(4) {
  transition-delay: 0.6s;
}
.media ul li:hover {
  background: black;
  color: white;
}

@keyframes animation {
  0% {
    margin-left: 0;
  }
  40% {
    margin-left: 25;
  }
  100% {
    margin-left: 100%;
  }
}
#left_s,
#right_s {
  margin-left: 100%;
  width: 100%;
  height: 100%;
  background: white;
  animation-name: animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
