#portfolio-container {
  max-width: 60vw;
  margin: 3vh auto;
  min-width: 50vh;
}
.header {
  margin: 20px;
  color: #00a07b;
}

.app {
  display: flex;
  flex-flow: row;
}
.category {
  width: 30%;
  margin: 20px;
}

.txn {
  width: 70%;
  margin: 20px;
}
.txn-table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  margin: 0.5rem;
  line-height: 1.5;
  flex: 1 1 auto;
}

.txn-header {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.txn-header > .txn-data {
  white-space: normal;
}

.txn-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.txn-row:nth-of-type(even) {
  background-color: #f2f2f2;
}

.txn-row:nth-of-type(odd) {
  background-color: #ffffff;
}

.txn-row:hover {
  color: #46bba0;
}

.txn-data {
  /* font-weight: 700; */
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}

.category-form {
  margin-top: 2px;
  display: flex;
  flex-flow: column;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #d0d0d0;
}

input:focus {
  border-bottom: 2px solid #00a07b;
}

.btn {
  float: right;
  padding: 8px 12px;
  margin: 20px 0px 20px 0px;
  border: 2px solid #00a07b;
  background: 0;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background: #00a07b;
  color: #fff;
  border: 2px solid #00a07b;
}

#green {
  color: green;
}
#red {
  color: red;
}
#grey {
  color: grey;
}
